body 
{   
    background-image: url("https://bestanimations.com/media/uk/2071327325uk-union-jack-flag-waving-animated-gif-19.gif");
    background-size: cover;
    background-color: powderblue;
    border-color:black;
    border-style: dashed ;
    border-width: 0.5cm;
}
#myVideo 
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  h1 
{
    color: lime;
}
  h2 
{
    color: yellowgreen;
}
  h3 
{
    color: green;
}
  p 
{
    color: black;
}
.myDiv
{
    border: 5px outset red;
    background-color: violet;
    text-align: center;
    display: inline-block;
}
.myDiv2
{
    border: 5px outset blue;
    background-color: orange;
    text-align: center;
    display: inline-block;
}
  img  
{
    vertical-align:bottom;
    float:left;
    border: 2px solid black;
}
